---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import { Icon } from "astro-icon/components";
import PageIntro from "../components/PageIntro.astro";
import minecraft from "../../public/minecraft.json";
---

<Layout title="thehaj.space" description="thehaj.space">
	<PageIntro title="thehaj.space">
		<p>
			Welcome to thehaj.space, a modded Minecraft server. We are a small
			community of queer people (and allies) who enjoy playing modded Minecraft together.
			We have a custom modpack that we play on, which you can download below.
			You need <Link href="https://modrinth.com/app" external={true}
				>Modrinth</Link
			> (or a Modrinth-compatible launcher) to install the modpack.
		</p>
	</PageIntro>
	<p>Please message bubblineyuri on Discord or bubblineyuri.16 on matrix.org/Signal in order to get whitelisted :3</p>
	<br />
	<a href="https://matix.li/9ae60860ae3d" class="btn btn-big btn-green"
		><Icon name="mingcute:download-3-line" class="icon" /> Download modpack</a
	>
	<p id="version"><small>Modpack version {minecraft.version}</small></p>
</Layout>
