---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import PageIntro from "../components/PageIntro.astro";
import Download from "../components/Download.astro";
const description =
  "We are a small community of queer people (and allies) who enjoy playing modded Minecraft together.";
---

<Layout title="thehaj.space" description={description}>
  <PageIntro title="thehaj.space">
    <p>
      Welcome to thehaj.space, a modded Minecraft server. {description} We have a
      custom modpack that we play on, which you can download below. You need <Link
        href="https://modrinth.com/app"
        external={true}>Modrinth</Link
      > to install the modpack.
    </p>
  </PageIntro>
  <p>
    Please message <Link href="https://koyu.space/contact/" external={true}>Leonie</Link> in order to get whitelisted :3
  </p>
  <br />
  <Download />
</Layout>