---
import "../scss/index.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="../ts/yippie.ts"></script>
		<title>thehaj.space</title>
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<img src="/icon.png" height="128" alt="Logo" />
				<h1>thehaj.space</h1>
			</div>
			<div class="description">
				<p>
					Welcome to thehaj.space, a modded Minecraft server. We are a small community of queer people who enjoy playing modded Minecraft together. We have a custom modpack that we play on, which you can download below. You need <a href="https://modrinth.com/app" target="_blank">Modrinth</a> to install the modpack.
				</p>
				<p>
					Please message bubblineyuri on Discord in order to get whitelisted :3
				</p>
				<a class="button" href="https://matix.li/6d14f2b50d0c" id="yippie">Download modpack</a>
				<br><br><br><br>
				<small><i>gallery coming soon ^_^</i></small>
			</div>
		</div>
		<div id="pride"></div>
	</body>
</html>
