---
interface Props {
  href: string;
  external?: boolean;
  muted?: boolean;
}

const { href, external = false, muted = false } = Astro.props;
---

<a href={href} class:list={[`${muted ? "muted" : ""}`]} target={external ? "_blank" : ""}>
  <slot />{external ? <span class="external">&#x2197;</span> : ""}
</a>
