<style>
    #pride {
        background-image: url("/pride.png");
        background-repeat: repeat-x;
        background-size: 64px 64px;
        height: 24px;
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>

<div id="pride"></div><br>