<style>
    #pride {
        background-image: url("/pride.png");
        background-repeat: repeat-x;
        background-size: 64px 64px;
        height: 24px;
        position: absolute;
        top: 0;
        width: 100%;
        animation: rainbow 2s linear infinite;
    }
    @keyframes rainbow {
        0% { background-position: 0 0; }
        100% { background-position: 64px 0; }
    }
</style>

<div id="pride"></div><br>